@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

.contact {
  padding: 84px 10px 0 10px;
}

.contactDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.contactDetails div a {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  flex-grow: 1;
  text-align: center;
}

.contactDetails img {
  max-width: 100%;
  height: 50px;
  padding-right: 15px;
}

.contactDetails a {
  text-decoration: none;
  color: #16234d;
}

.contact-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1.3px solid #16234d;
  border-radius: 10px;
}

.contact-container h3 {
  text-align: center;
  color: #16234d;
  font-size: 25px;
}

.contact-container p {
  padding: 0 20px 10px 20px;
}

.contact-form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
textarea {
  text-transform: capitalize;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  resize: none;
}

input#phoneNumber > div,
.react-tel-input {
  width: 100%;
  /* border: 2px solid red; */
}

input[type='email']{
  text-transform: none;
}

input:focus,
textarea:focus {
  background-color: #f4f8fb;
  border: 0.2px solid #333;
  border-radius: 2px;
}

button {
  padding: 10px;
  background-color: #16234d;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Media query for screens with a maximum width of 1024px */
@media only screen and (max-width: 1024px) {
  .contactDetails {
    flex-direction: column;
  }

  .contactDetails div {
    margin-bottom: 10px;
  }

  .contact-form {
    grid-template-columns: 1fr;
  }

  .contact-container {
    width: 90%; /* Adjust this as needed */
    max-width: none;
  }
}