/* Header container */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  *{
   font-weight: 600;
  }



header {
  font-family: Nunito;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  margin: 0;
  position: fixed; 
  top: 0;
  z-index: 100;
}
.header{
 border: 2px solid #16234d;
 position: fixed;
 top: 0;
 z-index: 100;
}

/* Logo */
.logo img {
 width: 9vw;
 height: 4.5vw;
}

/* Navigation links */
nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: 0 15px;
 padding: 0 20px 0 0;
 margin: 0;
}

nav ul li {
 list-style: none;
}

nav a {
 font-size: 14px;
 color: #16234d; /* Set the text color for navigation links */
 text-decoration: none;
}

nav a:hover{
 text-decoration: underline;
}

/* Button */
button {
 font-size: 15px;
 background-color: #16234d; /* Set the button background color */
 color: #fff; /* Set the text color for the button */
 padding: 15px 20px;
 /* margin-left: 20px; */
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

/* Hover effect for the button */
/* button:hover {
} */

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
 .header {
   flex-direction: column; /* Stack elements vertically on smaller screens */
   padding: 10px;
 }

 .logo {
   margin-bottom: 10px;
 }

 nav {
   flex-direction: column;
   align-items: center;
 }

 nav a {
   margin: 10px 0; /* Add spacing between navigation links */
 }

 /* Mobile menu button styles */
 button {
   margin-left: 0;
 }

 /* Add an underline to active link (optional) */
 nav a:hover {
   text-decoration: underline;
 }
}
